.Counter {
    background: lightsalmon;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.but {
    border: none;
    background: lightblue;
    margin: 1rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 30px;
}

.but:active {
    background: lightcoral;
}

.but:focus {
    outline: none;
}

h1 {
    font-size: 5rem;
}